<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/pngtree-404.jpg">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-conent">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>
        {{>footer}}
    </body>
</html>