<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/help2.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{helpMesage}}</p>
        </div>
        {{>footer}}
    </body>
</html>